#A{font-size: 40px;display: inline-block;color: red;}
#B{font-size: 40px;display: inline-block;}
/*
https: //stackoverflow.com/questions/9067892/how-to-align-two-elements-on-the-same-line-without-changing-html
*/
#All{font-size: 40px;}